@font-face {
   font-family: 'Karla-Bold (2)';
   font-display: swap;
   src: url('file:///Users/gaelveneziani/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-01-10_173439/fonts/Karla-Bold%20(2)/font.ttf');
}
